@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #f2f2f2;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.positioner {
  padding: 0;
  margin: 0 auto;
  width: 1200px;
  position: relative;
  margin-top: -16px;
  box-shadow: 5px 0 15px 0 rgb(0, 1, 1, 0.2),
              -5px 0 15px 0 rgb(0, 1, 1, 0.2);
}

/*ИЗОБРАЖЕНИЯ*/

.main-intro-photo {
  height: 510px;
  width: 1200px;
  background-image: url("../img/mask.png"), url("../img/main-photo.jpg");
  background-size: 100% 57px, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
}

.social-btn {
  background: #81b3d2 url("../img/social-icon.png") no-repeat;
  width: 46px;
  height: 48px;
  margin-right: 3px;
  display: inline-block;
}

.social-btn-twitter {
  background-position: 15px 12px;
}

.social-btn-facebook {
  background-position: -38px 12px;
}

.social-btn-youtube {
  margin-right: 0;
  background-position: -89px 12px;
}

/*ШРИФТЫ*/

.header-menu a {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.main-features {
  font-size: 21px;
  font-weight: bold;
  color: inherit;
}

.check-location h3 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

/*СЕТКА*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  width: 1200px;
  padding: 0;
  margin: 0;
  position: relative;
  height: 56px;
  box-sizing: border-box;
  background: #ffffff;
}

.header-menu ul {
  padding: 0;
}

.header-menu li {
  box-sizing: border-box;
  padding-top: 13px;
  height: 56px;
}

.header-menu li:nth-child(-n+2) {
  width: 239px;
  float: left;
  list-style: none;
}

.header-menu li:first-child {
  padding-left: 70px;
}

.header-menu li:nth-child(2){
  padding-left: 72px;
}

.header-menu li:nth-child(n+3) {
  width: 239px;
  float: right;
  list-style: none;
}

.header-menu li:nth-child(3) {
  padding-left: 86px;
}

.header-menu li:last-child {
  padding-left: 76px;
}

.header-menu li a {
  text-decoration: none;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 10;
}

/*ПЕРВАЯ СТРАНИЦА - основное содержание*/

/*секция 1*/

.main-intro {
  padding: 0;
  margin: 0;
}

.introduction {
  margin: 0;
  height: 215px;
  box-sizing: border-box;
  padding-top: 60px;
  background-color: #ffffff;
}

.introduction .main-features {
  margin: 0 auto 25px;
  width: 636px;
  text-align: center;
}

.introduction .features-description {
  margin: auto;
  width: 576px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}


/*Cекция 2*/
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section:nth-of-type(3) .reason {
  float: left;
  width: 400px;
  min-height: 256px;
  background-color: #81b3d2;

}

section:nth-of-type(3) .picture-1 {
  float: right;
  width: 800px;
  min-height: 256px;
  color: #ffff;
}

/*текст секций PHOTO-ADVANTAGES*/
.photo-advantages {
  color: #ffffff;
}

.main-content-reason img {
  display: block;
}

.photo-advantages .reason .main-features {
  margin-top: 45px;
  text-align: center;
  line-height: 21px;
}

.photo-advantages .reason .reason-number {
  margin-top: 26px;
  text-align: center;
  line-height: 21px;
}

.photo-advantages .reason .features-description {
  margin-top: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 14px;
}

/*Cекция 3*/

.bonuses {
  min-height: 330px;
  background-color: #ffffff;
}

.bonuses .feature {
  width: 400px;
  height: 310px;
  float: left;
}

.bonuses img {
  margin-top: 60px;
  margin-left: 162px;
}

.bonuses .main-content-reason:last-of-type img {
  margin-top: 53px;
  margin-left: 170px;
}

.bonuses .main-features {
  text-align: center;
  margin-top: 25px;
  line-height: 28px;
  margin-bottom: 25px;
}

.bonuses .features-description {
  text-align: center;
  font-size: 14px;
}

/*секция 4*/

section:nth-of-type(5) .reason {
  float: right;
  width: 400px;
  min-height: 256px;
  background-color: #81b3d2;
}

section:nth-of-type(5) .picture-2 {
  float: left;
  width: 800px;
  min-height: 256px;
}

/*Секция 5*/

.advantages .reason {
  float: left;
  width: 400px;
  height: 256px;
  background-color: #eeeeee;
  color: #000000;
  margin: 0;
}

.advantages .main-features {
  margin-top: 45px;
  text-align: center;
  line-height: 21px;
}

.advantages .reason-number {
  margin-top: 23px;
  text-align: center;
  line-height: 21px;
}

.advantages .features-description {
  margin-top: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 14px;
}

/*Сеция 6*/

.visit {
  width: 1200px;
  background: #ffffff;
  box-sizing: border-box;
  padding-top: 50px;
}

.visit .interested {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.visit .features-description {
  margin-top: 23px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.search-hotel {
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: #ffff;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  margin: 48px auto 0;
  padding-top: 27px;
}

.search-btn-big {
  position: relative;
  width: 568px;
  height: 86px;
  margin: auto;
}

 .search-menu {
  position: absolute;
  /*display: none;*/
  top: 87px;
  left: 0;
  z-index: 10;
  height: 395px;
  width: 568px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 53px;
  box-shadow: 5px 0 15px 0 rgb(0, 1, 1, 0.2),
              -5px 0 15px 0 rgb(0, 1, 1, 0.2);
}

/*.search-btn-big:hover .search-menu {
  display: block;
}*/

.index-form {
  padding: 0;
  height: 286px;
  width: 460px;
  box-sizing: border-box;
}

.form-positioner {
   padding: 0;
   margin: 0;
   height: 38px;
   font-size: 14px;
   font-weight: bold;
   margin-bottom: 29px;
   position: relative;
 }

 label[for$="date"] {
   float: left;
   width: 100px;
   height: 38px;
   text-align: left;
   vertical-align: middle;
   box-sizing: border-box;
   padding: 10px 3px;
 }

 input[name$="date"] {
   float: right;
   width: 346px;
   height: 38px;
   font-size: 14px;
   font-weight: bold;
   text-transform: uppercase;
   padding: 5px 35px 5px 10px;
   box-sizing: border-box;
   background-color: #f2f2f2;
   border: none;
   background-image: url("../img/icon-calendar.png");
   background-repeat: no-repeat;
   background-position: 317px 50%;
}

.form-positioner:nth-child(n+3) {
  float: left;
  width: 230px;
}

label[for$="count"] {
  float: left;
  width: 98px;
  height: 38px;
  box-sizing: border-box;
  padding: 10px 3px;
}

label[for="child-count"] {
  padding-left: 53px;
}

.popup-form-count {
  float: right;
  margin-right: -2px;
  background: #f2f2f2;
}

.popup-form-count:first-of-type {
  padding-right: 2px;
}

input[name$="count"] {
  margin: 0 -3px 0 -3px;
  width: 38px;
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  background: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  border: none;
}

.popup-form-count button {
  display: inline-block;
  margin: 0;
  width: 38px;
  height: 38px;
  border: none;
  font-size: 20px;
  line-height: 0px;
  font-weight: bold;
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.button-min {
  background-image: url("../img/min.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.button-max {
  background-image: url("../img/plus.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.search-btn-small {
  clear: both;
  margin-top: 125px;
}

.search-btn-small input {
  width: 100%;
  margin: 0;
  text-align: center;
  height: 58px;
  color: #ffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.form-positioner input:hover {
  background-color: #ebebeb;
}

.form-positioner input:focus {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}

.search-btn-small input:hover {
  background-color: #669ec1;
}

.search-btn-small input:active {
  background-color: #5596be;
  color: #93bcd0;
}

/*Секция 7*/
.map {
  height: 593px;
}

/*ФУТЕР*/
footer {
  height: 120px;
  width: 1200px;
  background: #f9fbf6;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 35px;
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
  opacity: 0.902;
}

footer .footer-link a {
  float: left;
  min-height: 50px;
  width: 136px;
  margin-left: 132px;
  padding-top: 12px;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

footer .footer-social {
  float: left;
  min-height: 50px;
  width: 160px;
  margin-left: 256px;
}

.social-btn:hover {
background-color: #669ec0;
}

footer .footer-copyright {
  float: right;
  min-height: 50px;
  width: 225px;
  margin-right: 75px;
  padding-top: 5px;
}

.footer-copyright p {
  font-size: 14px;
  font-weight: normal;
  margin-right: 6px;
}

.footer-copyright > *  {
  display: inline-block;
  vertical-align: middle;
}

/*СТРАНИЦА ВТОРАЯ*/

.check-location {
  background-image: url("../img/filter-background.jpg");
  background-color: rgb(129, 179, 210);
  background-size: cover;
  height: 220px;
  width: 1200px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px 70px;
}

.check-location > * {
  box-sizing: border-box;
}

.check-infrastructure {
  height: 180px;
  width: 200px;
  float: left;
}

.check-residence {
  height: 180px;
  width: 200px;
  float: left;
  margin-left: 55px;
}

.check-price {
  box-sizing: border-box;
  float: right;
  height: 180px;
  width: 330px;
  padding-left: 10px;
}

.check-infrastructure label,
.check-residence label  {
  display: block;
  margin-top: 27px;
  padding-left: 40px;
  position: relative;
  color: #ffffff;
}

.check-infrastructure input,
.check-residence input  {
  display: none;
}

.check-infrastructure input + label:before,
.check-residence input + label:before  {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("../img/checkbox-not-checked.png");
  background-position: center;
  position: absolute;
  left: 0;
}

.check-infrastructure input:checked + label:before,
.check-residence input:checked + label:before  {
  content: "";
  width: 26px;
  height: 22px;
  background-image: url("../img/checkbox.png");
  background-position: center;
  position: absolute;
  left: 0;
}

.check-infrastructure input:disabled + label:before,
.check-residence input:disabled + label:before  {
  background-color: #6b6d6c
}

.check-price h3 {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.block-inputs {
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-bottom: 20px;
  height: 36px;
  width: 314px;
  position: relative;
  font-size: 0px;
}

.block-inputs::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.block-inputs label {
  display: inline-block;
  font-size: 14px;
  line-height: 33px;
  vertical-align: top;
  color: #ffffff;
  cursor: pointer;
}


.block-inputs .min-price,
.block-inputs .max-price {
  width: 90px;
  padding-left: 65px;
}

.block-inputs input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  padding-left: 5px;
}

/*----------------------*/
.block-range {
  position: relative;
  margin-bottom: 32px;
}

.block-range .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.block-range .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.check-location input[type="submit"] {
  box-sizing: border-box;
  display: block;
  margin-bottom: 0;
  margin-left: 85px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  height: 32px;
  width: 133px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.check-location input[type="submit"]:hover {
  background-color: #ffffff;
  color: #000000;
}

/*Блок сортировки*/

.sorting-block {
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
  height: 84px;
  width: 1200px;
  margin: auto;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

 .sorting-block h2 {
   float: left;
   font-size: 21px;
   font-weight: bold;
   margin-top: 25px;
 }

 .sorting-menu {
   padding-left: 20px;
   float: left;
   font-size: 12px;
   margin-top: 5px;
  }

.sorting-arrow {
  float: right;
}

.sorting-menu p,
.sorting-menu a {
  display: inline-block;
  margin-left: 25px;
  margin-top: 28px;
  text-decoration: none;
  color: #000000;
}

.sorting-menu a:hover {
  color: #84bade;
}

.sorting-menu a:active {
  color: #d2d2d2;
}

.sorting-menu a:not(:first-of-type) {
  margin-left: 23px;
  border-bottom: 1px dashed;
}

.sorting-menu p {
  margin-right: 20px;
}

.sorting-arrow {
  margin-top: 30px;
}

.sorting-arrow a {
  margin-top: 28px;
  font-size: 0;
  margin-right: 5px;
}

.arrow::before {
  content: "";
  display: inline-block;
  border: 11px solid #cccccc;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}
/* НИЧЕГО НЕ ПОЛУЧИЛОСЬ- ЦВЕТ НЕ МЕНЯЕТСЯ*/
.arrow::before:hover {
  border-color: #040404;
}

.arrow::before:active {
  border-color: #86acd9;
}

/*Блок отелей*/

.hotel-features {
  min-height: 150px;
  background: #fefefe;
  border-bottom: 1px solid #e5e5e5;
  width: 1054px;
  padding-right: 73px;
  padding-left: 70px;
}

.hotel-features .hotel-photo {
  float: left;
  width: 260px;
  height: 100px;
  margin-top: 30px;
}

.hotel-features .hotel-info {
  float: left;
  margin-left: -95px;
  margin-top: 25px;
}

.type-hotel {
  width: 110px;
  height: 27px;
  margin-top: 8px;
}

.info-price {
  width: 142px;
  height: 27px;
  margin-top: 5px;
}

.btn-details {
  width: 110px;
  height: 27px;
  background: #81b3d2;
  margin-top: 10px;
}

.btn-details:hover {
  background-color: #669ec1;
}

.btn-details:active,
.btn-details:active a {
  background-color: #5596be;
  color: #96b4d6;
}

.btn-reservation {
  width: 142px;
  height: 27px;
  background: #766357;
  margin-top: 10px;
}

.btn-reservation:hover {
  background-color: #604e44;
}

.btn-reservation:active,
.btn-reservation:active a {
  background-color: #503e34;
  color: #938980;
}

[class^="btn-"] a {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  padding-left: 15px;
}


.hotel-features .hotel-rating {
  float: right;
  margin-top: 28px;
  font-size: 14px;
}

.hotel-info h2 {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

.hotel-info h2:hover {
  color: #85b3d7;
}

.hotel-info h2:active {
  color: #cfcfcf;
}

.hotel-info div {
  display: inline-block;
}

.hotel-rating .rating {
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  margin-top: 45px;
  text-align: center;
  padding-top: 3px;
}

.hotel-rating .stars {
  text-align: right;
}

.hotel-footer {
  background: #fefefe;
  padding-top: 20px;
}
