@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.positioner {
  padding: 0;
  margin: 0 auto;
  width: 1200px;
  position: relative;
  margin-top: -16px;
  box-shadow: 5px 0 15px 0 rgba(0, 1, 1, 0.2),
              -5px 0 15px 0 rgba(0, 1, 1, 0.2);
}

/*ИЗОБРАЖЕНИЯ*/
.main-intro-photo {
  height: 510px;
  width: 1200px;
  background-image: url("../img/mask.png"), url("../img/main-photo.jpg");
  background-size: 100% 57px, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-color: #314852;
}

/*ШРИФТЫ*/
.header-menu a {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.header-menu a:hover {
  color: #81b3d2;
}

.header-menu a:active {
  color: #b2b2b2;
}

.header-menu a.active {
  color: #766357;
}

.main-features {
  font-size: 21px;
  font-weight: bold;
  color: inherit;
}

.check-location h3 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

/*СЕТКА*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  width: 1200px;
  padding: 0 6%;
  margin: 0;
  position: relative;
  min-height: 56px;
  box-sizing: border-box;
  background: #ffffff;
}

.header-menu ul {
  padding: 0;
}

.header-menu li {
  box-sizing: border-box;
  padding-top: 13px;
  height: 56px;
}

.header-menu li:nth-child(-n+2) {
  width: 239px;
  float: left;
  list-style: none;
  text-align: left;
}

.header-menu li:nth-child(n+3) {
  width: 239px;
  float: right;
  list-style: none;
  text-align: right;
}

.header-menu a {
  text-decoration: none;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 10;
}

/*ПЕРВАЯ СТРАНИЦА - основное содержание*/

/*секция 1*/
.main-intro {
  padding: 0;
  margin: 0;
}

.introduction {
  margin: 0;
  min-height: 215px;
  box-sizing: border-box;
  padding-top: 60px;
  background-color: #ffffff;
}

.introduction .main-features {
  margin: 0 auto 30px;
  width: 636px;
  text-align: center;
}

.introduction .features-description {
  margin: auto;
  width: 576px;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
}

/*Cекция 2*/
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section:nth-of-type(3) .reason {
  float: left;
  width: 400px;
  min-height: 256px;
  background-color: #81b3d2;
}

section:nth-of-type(3) .picture-1 {
  float: right;
  width: 800px;
  min-height: 256px;
  color: #ffff;
}

/*текст секций PHOTO-ADVANTAGES*/
.photo-advantages {
  color: #ffffff;
}

.main-content-reason img {
  display: block;
}

.photo-advantages .main-features {
  margin-top: 45px;
  text-align: center;
  line-height: 21px;
}

.photo-advantages .reason-number {
  margin-top: 26px;
  text-align: center;
  line-height: 21px;
}

.photo-advantages .features-description {
  margin-top: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 14px;
}

/*Cекция 3*/
.bonuses {
  min-height: 330px;
  background-color: #ffffff;
}

.bonuses .feature {
  float: left;
  width: 400px;
  min-height: 310px;
}

.bonuses img {
  margin-top: 60px;
  margin-left: 162px;
}

.bonuses img[alt="Сувениры"] {
  margin-top: 53px;
  margin-left: 170px;
}

.bonuses .main-features {
  text-align: center;
  line-height: 28px;
  margin-top: 25px;
  margin-bottom: 22px;
}

.bonuses .features-description {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

/*секция 4*/
section:nth-of-type(5) .reason {
  float: right;
  width: 400px;
  min-height: 256px;
  background-color: #81b3d2;
}

section:nth-of-type(5) .picture-2 {
  float: left;
  width: 800px;
  min-height: 256px;
}

/*Секция 5*/
.advantages .reason {
  float: left;
  width: 400px;
  min-height: 256px;
  background-color: #eeeeee;
  color: #000000;
  margin: 0;
}

.advantages .main-features {
  margin-top: 45px;
  text-align: center;
  line-height: 21px;
}

.advantages .reason-number {
  margin-top: 23px;
  text-align: center;
  line-height: 21px;
}

.advantages .features-description {
  margin-top: 22px;
  text-align: center;
  line-height: 21px;
  font-size: 14px;
}

/*Сеция 6*/
.visit {
  width: 1200px;
  background: #ffffff;
  box-sizing: border-box;
  padding-top: 50px;
}

.visit .interested {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.visit .features-description {
  margin-top: 23px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
}

.search-hotel {
  display: block;
  position: relative;
  z-index: 11;
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: #ffffff;
  box-sizing: border-box;
  margin: 48px auto 0;
  padding-top: 30px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
}

.search-btn-big {
  position: relative;
  width: 568px;
  height: 86px;
  margin: auto;
}

 .search-menu {
  display: none;
  position: absolute;
  z-index: 10;
  top: 87px;
  left: 0;
  width: 568px;
  height: 395px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 53px;
  box-shadow: 5px 0 15px 0 rgba(0, 1, 1, 0.2),
              -5px 0 15px 0 rgba(0, 1, 1, 0.2);
}

.search-menu-show {
  display: block;
  animation-name: bounce, opacity;
  animation-duration: 1s, 1s;
}

@keyframes bounce {
  0%   {
    transform: translateY(-395px);
  }
  100%  {
    transform: translateY(0);
  }
}

@keyframes opacity {
  0%   {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100%  {
      opacity: 1;
  }
}

.index-form {
  padding: 0;
  height: 286px;
  width: 460px;
  box-sizing: border-box;
}

.form-positioner {
   position: relative;
   padding: 0;
   margin: 0;
   margin-bottom: 29px;
   height: 38px;
   font-size: 14px;
   font-weight: bold;
}

 label[for$="date"] {
   float: left;
   width: 100px;
   height: 38px;
   padding: 10px 3px;
   box-sizing: border-box;
   text-align: left;
   vertical-align: middle;
}

 input[name$="date"] {
   float: right;
   width: 346px;
   height: 38px;
   padding: 5px 35px 5px 10px;
   box-sizing: border-box;
   font-size: 14px;
   font-weight: bold;
   text-transform: uppercase;
   background-image: url("../img/icon-calendar.png");
   background-repeat: no-repeat;
   background-position: 317px 50%;
   background-color: #f2f2f2;
   border: 2px solid transparent;
}

input[name$="date"]:hover {
   background-image: url("../img/icon-calendar-hover.png");
}

input[name$="date"]:active {
   background-image: url("../img/icon-calendar-active.png");
}

.form-positioner:nth-child(n+3) {
  float: left;
  width: 230px;
}

label[for$="count"] {
  float: left;
  width: 98px;
  height: 38px;
  padding: 10px 3px;
  box-sizing: border-box;
}

label[for="child-count"] {
  padding-left: 53px;
}

.popup-form-count {
  float: right;
  margin: 0 -2px 0 0;
  background: #f2f2f2;
}

.popup-form-count:first-of-type {
  padding-right: 2px;
}

input[name$="count"] {
  width: 38px;
  height: 38px;
  margin: 0 -3px 0 -3px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  vertical-align: top;
}

.popup-form-count button {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 0;
  font-size: 20px;
  line-height: 0px;
  font-weight: bold;
  background-color: #f2f2f2;
  color: #a9a9a9;
  border: none;
  outline: none;
  vertical-align: middle;
}

.button-min {
  background-image: url("../img/min.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.button-max {
  background-image: url("../img/max.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.button-min:hover {
  background-image: url("../img/min-hover.png");
}

.button-max:hover {
  background-image: url("../img/max-hover.png");
}

.button-min:active {
  background-image: url("../img/min-active.png");
}

.button-max:active {
  background-image: url("../img/max-active.png");
}

.search-btn-small {
  clear: both;
  margin-top: 125px;
}

.search-btn-small input {
  width: 100%;
  height: 58px;
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.form-positioner input:hover {
  background-color: #ebebeb;
}

.form-positioner input:focus {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
  outline: none;
}

.search-btn-small input:hover {
  background-color: #669ec1;
}

.search-btn-small input:active {
  background-color: #5596be;
  color: #93bcd0;
}

/*Секция 7*/
.map {
  height: 593px;
}

/*ФУТЕР*/
footer {
  width: 1200px;
  background: #f9fbf6;
  box-sizing: border-box;
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
  opacity: 0.902;
}

footer .footer-link {
  float: left;
  width: 400px;
  min-height: 120px;
  text-align: center;
}

.footer-link a {
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  line-height: 120px;
}

footer .footer-social {
  float: left;
  width: 400px;
  min-height: 120px;
  text-align: center;
}

.social-btn {
  background: #81b3d2 url("../img/sprite.png") no-repeat;
  opacity: 1;
  width: 46px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 38px;
  font-size: 0;
}

.social-btn-twitter {
  background-position: 0 0;
}

.social-btn-facebook {
  background-position: -52px 0;
  margin-left: 2px;
  margin-right: 2px;
}

.social-btn-youtube {
  background-position: -105px 0;
}

.social-btn-twitter:hover {
  background-position: 0 -56px;
}

.social-btn-facebook:hover {
  background-position: -52px -56px;
}

.social-btn-youtube:hover {
  background-position: -105px -56px;
}

.social-btn-twitter:active {
  background-position: 0 -112px;
}

.social-btn-facebook:active {
  background-position: -52px -112px;
}

.social-btn-youtube:active {
  background-position: -105px -112px;
}

footer .footer-copyright {
  float: right;
  width: 400px;
  min-height: 120px;
  text-align: center;
}

.footer-copyright > * {
  display: inline-block;
  vertical-align: middle;
  line-height: 90px;
}

.footer-copyright p {
  font-size: 14px;
  font-weight: normal;
  margin-right: 6px;
}

.footer-copyright a {
  width: 113px;
  height: 39px;
  background-image: url("../img/html_academy_icon.png");
  font-size: 0;
}


.footer-copyright a:hover {
  background-image: url("../img/html_academy_icon-hover.png");
}

.footer-copyright a:active {
  background-image: url("../img/html_academy_icon-active.png");
}

/*СТРАНИЦА ВТОРАЯ*/

.check-location {
  background-image: url("../img/filter-background.jpg");
  background-color: rgb(129, 179, 210);
  background-size: cover;
  height: 220px;
  width: 1200px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px 6%;
}

.check-location > * {
  box-sizing: border-box;
}

.check-infrastructure {
  float: left;
  height: 180px;
  width: 200px;
}

.check-residence {
  float: left;
  height: 180px;
  width: 200px;
  margin-left: 55px;
}

.check-price {
  float: right;
  height: 180px;
  width: 330px;
  padding-left: 12px;
  box-sizing: border-box;
}

.check-infrastructure h3,
.check-residence h3 {
  margin-top: 18px;
  margin-bottom: 27px;
}

.check-infrastructure label,
.check-residence label  {
  position: relative;
  display: block;
  margin-bottom: 25px;
  padding-left: 40px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.check-infrastructure input,
.check-residence input  {
  display: none;
}

input[type="checkbox"] + label:before  {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("../img/checkbox-not-checked.png");
  background-position: center;
  position: absolute;
  left: 0;
}

input[type="checkbox"]:checked + label:before  {
  content: "";
  width: 26px;
  height: 22px;
  background-image: url("../img/checkbox.png");
  background-position: center;
  position: absolute;
  left: 0;
}

input[type="checkbox"]:disabled + label:before  {
  background-image: url("../img/checkbox-disabled.png");
}

input[type="checkbox"]:checked:disabled + label:before  {
  background-image: url("../img/checkbox-checked-disabled.png");
}

.check-price h3 {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.block-inputs {
  width: 314px;
  height: 35px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-bottom: 20px;
  position: relative;
  font-size: 0px;
}

.block-inputs::before {
  content: "";
  width: 2px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.block-inputs label {
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  padding-left: 65px;
  font-size: 14px;
  line-height: 35px;
  color: #ffffff;
  cursor: pointer;
}

.block-inputs .max-price {
  margin-left: -10px;
}

.block-inputs input {
  width: 50px;
  margin: 0;
  padding-left: 5px;
  color: inherit;
  font-size: inherit;
  background: none;
  border: none;
  outline: none;
}

.block-range {
  position: relative;
  margin-bottom: 32px;
}

.block-range .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.block-range .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.check-location input[type="submit"] {
  display: block;
  height: 35px;
  width: 138px;
  margin-bottom: 0;
  margin-left: 85px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.check-location input[type="submit"]:hover {
  background-color: #ffffff;
  color: #000000;
  outline: none;
}

/*Блок сортировки*/
.sorting-block {
  height: 84px;
  width: 1200px;
  margin: auto;
  padding-left: 6%;
  padding-right: 6%;
  box-sizing: border-box;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-block h2 {
  float: left;
  margin-top: 28px;
  font-size: 21px;
  font-weight: bold;
}

.sorting-menu {
  float: left;
  padding-left: 23px;
  margin-top: 5px;
  font-size: 12px;
}

.sorting-arrow {
  float: right;
  margin-top: 25px;
}

.sorting-menu p,
.sorting-menu a {
  display: inline-block;
  vertical-align: top;
  margin-left: 23px;
  margin-top: 30px;
  text-decoration: none;
  color: #000000;
}

.sorting-menu a:first-of-type {
  color: #81b3d2;
}

.sorting-menu a:not(:first-of-type) {
  margin-left: 25px;
  border-bottom: 1px dashed #81b3d2;
  color: #b2b2b2;
}

.sorting-menu a:hover {
  color: #81b3d2;
}

.sorting-menu a:active {
  border-bottom: none;
  color: #000000;
}

.sorting-menu p {
  margin-right: 16px;
}

.sorting-arrow a {
  font-size: 0;
  margin-left: 7px;
}

.arrow::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border: 11px solid #cccccc;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.arrow:hover::before {
  border-bottom-color: #040404;
  border-top-color:  #040404;
}

.arrow:active::before {
  border-bottom-color: #86acd9;
  border-top-color: #86acd9;
}

/*Блок отелей*/
.hotel-features {
  width: 1056px;
  min-height: 150px;
  padding-right: 6%;
  padding-left: 6%;
  background: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-features .hotel-photo {
  float: left;
  width: 260px;
  height: 100px;
  margin-top: 30px;
}

.hotel-features .hotel-info {
  float: left;
  margin-left: -95px;
  margin-top: 25px;
}

.type-hotel {
  width: 110px;
  height: 27px;
  margin-top: 10px;
  font-size: 14px;
}

.info-price {
  width: 142px;
  height: 27px;
  margin-top: 10px;
  margin-left: 2px;
  font-size: 14px;
}

.hotel-info [class^="btn-"] {
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  margin-top: 7px;
  padding-top: 5px;
  text-align: left;
}

.btn-details {
  width: 95px;
  background-color: #81b3d2;
}

.btn-details:hover {
  background-color: #669ec1;
}

.btn-details:active {
  background-color: #5596be;
  color: #96b4d6;
}

.btn-reservation {
  width: 127px;
  margin-left: 3px;
  background: #766357;
}

.btn-reservation:hover {
  background-color: #604e44;
}

.btn-reservation:active {
  background-color: #503e34;
  color: #938980;
}

[class^="btn-"] {
  padding-left: 15px;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
}

.hotel-features .hotel-rating {
  float: right;
  margin-top: 28px;
  font-size: 14px;
}

.hotel-info h2 {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
}

.hotel-info h2:hover {
  color: #85b3d7;
}

.hotel-info h2:active {
  color: #cfcfcf;
}

.hotel-info div {
  display: inline-block;
  vertical-align: middle;
}

.hotel-rating .rating {
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  margin-top: 45px;
  padding-top: 5px;
  text-align: center;
}

.hotel-rating .stars {
  text-align: right;
}

.hotel-footer {
  background: #fefefe;
}
